.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  background-image: url('../img/bgtest.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #444;
}

.homeJumbotron {
  background-image: url('https://media.rawg.io/media/games/736/73619bd336c894d6941d926bfd563946.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 170px 30px;
}

.homeJumbotron h1,
p {
  color: white;
}

.footerBody1 {
  display: flex;
  align-items: center;
  padding: 20px 0 0;
}

.michael {
  border-top: 2px solid white;
  width: 100%;
  margin: 25px 0 0;
}
.michael2 {
  border-top: 2px solid white;
  width: 100%;
  margin: 0 0 10px;
}

/* Socials i footern */
.socials {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}
