h2 {
  color: white;
  margin-left: 5%;
}
h3 {
  color: white;
  margin-left: 5%;
}
.minibar {
  background-color: black;
  display: flex;
  margin: 0 auto 15px auto;
  width: calc(100% - 10%);
  justify-content: center;
}
.minibar ul {
  color: white;
}
.showcase {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  margin: 0 auto 15px auto;
  width: calc(100% - 10%);
  justify-content: center;
  color: white;
  padding: 5px 0 10px 0;
}
.filterbar {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  margin: 0 auto 15px auto;
  width: calc(100% - 10%);
  justify-content: center;
  color: white;
}
.filterchoice1 {
  color: black;
  margin: 0 15px 0 15px;
  font-weight: bold;
  text-shadow: 1px 1px 5px white;
}
.filterchoice1:hover {
  color: black;
  text-shadow: 1px 1px 5px white;
}
.filterchoice {
  color: white;
  margin: 0 15px 0 15px;
  font-weight: bold;
}
.filterchoice:hover {
  color: black;
  text-shadow: 1px 1px 5px white;
}
.filtercontainer {
  display: flex;
  margin: 0 auto 15px auto;
  width: calc(100% - 10%);
  justify-content: center;
  color: white;
  padding: 5px 0 7px 0;
}
.showcaseRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.showcaseColumn {
  width: calc(300px);
  display: flex;
  flex-direction: column;
}
.showcaseRow2 {
  display: flex;
  flex-direction: row;
}
.showcaseColumn2 {
  width: calc(200px);
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.gamePortalsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gamePortalsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}
.gamePortals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.showcaseGames {
  height: 50px;
  box-shadow: 0 0 10px white;
}
.showcaseGames:hover {
  box-shadow: 0 0 10px black;
}
.showcaseGameTitle {
  margin: 12px 0 0 12px;
  color: white;
}
.showcaseGameTitle:hover {
  color: black;
  text-shadow: 1px 1px 10px white;
}
.moreLink {
  color: white;
}
.moreLink:hover {
  color: black;
  text-shadow: 1px 1px 10px white;
}
.searchColumn {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.filterPosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filterPosts > div {
  flex: 0 48%;
  border: black solid;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.postRow1 {
  display: flex;
  flex-direction: row;
}
.postRow2 {
  display: flex;
  flex-direction: row;
}
.postTitle {
  display: flex;
  flex-direction: row;
  font-size: 21px;
}
div .postTitle {
  width: calc(100% - 50%);
}
div .postContent {
  width: 100%;
  border-top: black solid;
  margin: 10px auto 2px auto;
  padding: 1%;
}
div .postAuthor {
  border-top: black solid;
}
div .postTopic {
  width: 25%;
  border-top: black solid;
}
